@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button {
    border: none;
}

button:active, 
button:focus {
    outline: none;
} 
.header__burger,
.header__close {
    display: none;
}
.head {
    font-weight: 400;
    max-height: 1029px;
    background:-moz-linear-gradient(90deg, #fff 49%, #0063dd 51%); 
    background:-webkit-linear-gradient(90deg, #fff 49%, #0063dd 51%);
    background:linear-gradient(90deg, #fff 49%, #0063dd 51%);
    overflow: hidden;
}
.head-wrap {
    max-width: 1920px;
    max-height: 1055px;
    margin: 0 auto;   
    background: top left / cover url(assets/images/bg.jpg) no-repeat;
}

.header {
    max-height: 100%;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    margin: 0 6.6vw;
}
.header__a {
    display: inline-block;
    flex-basis: 61%;
}
.header__nav-wrap {
    flex-basis: 35%;
    display: flex;
    justify-content: space-between;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    max-width: 355px; 
    flex-grow: 1;   
    align-self: center;
}
.header__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;    
    color: #929292;   
} 
.active-item {
    color: #0f7cff;
}
.header__button {
    margin-right: 1%;
}
.header__sign-up {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    width: 165px;
    height: 50px;
    background: #0063dd;
    border-radius: 25px;
    cursor: pointer;    
}
.header__sign-up:hover {
    color: #0063dd;
    background: #fff;
    border: 2px solid #0063dd;
}
.head__info {
    max-width: 618px;
    margin: 4.5% auto 0 auto;
    text-align: center;
}
.head__name {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin: 0;
}
.head_des {
    font-size: 16px;
    line-height: 27px;    
    color: #929292;
    margin-top: 5%;
}
.head__buttons {
    max-width: 362px;
    margin: 5.2% auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.head__free,
.head__download {
    width: 166px;
    height: 50px;
    border: 2px solid #0f7bff;
    box-sizing: border-box;
    border-radius: 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;    
    color: #0f7bff;
    background-color: white;
    cursor: pointer;
}
.head__free:hover,
.head__download:hover {
    background: #0f7bff;
    color: #fff;
}
.head__device {
    max-width: 885px;
    margin: 3.6% auto 0 auto;
}
.feat {   
    font-weight: 300;   
    background: #f5fcfd;
}
.feat__wrap {
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    padding: 0.9% 0 6.6% 0;
}
.arrow {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #0063dd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5%;
    left: 48.15%;
}
.arrow:hover {
    box-shadow: 0px 0px 0px 21px rgba(0, 99, 221, 0.23); 
}
.cards {
    max-width: 1150px;
    max-height: 339px;
    margin: 7.9% auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.card {
    max-width: 362px;
    height: 290px;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.1);
    border-radius: 5px;
    text-align: center;
    align-self: flex-start;
}
.cards .card:nth-child(2n) {
    margin-top: 4.3%;
}
.card__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;    
    color: #000000;
    margin-top: 5%;
}
.card__info {
    font-size: 16px;
    line-height: 20px;
    text-align: center;    
    color: #000000;  
    margin: 7% 2% 0 2%;  
}
.card__image {
    margin-top: 11.5%;
}
.about {
    font-weight: 500;
    color: black;
    max-width: 1351px;
    max-height: 1309px;
    margin: 3.3% auto 6% auto;  
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about__card {
    display: flex;
    justify-content: space-between;
    max-width: 1148px;
    margin: 0 auto;
}
.about__image-wrap {
    z-index: 2;
}
.about__bg img {
    width: 32.2vw;
    height: 32.7vw;
}
.about .about__card:nth-child(2n+1) .about__bg {
    width: 30.2vw;
    height: 30.7vw;
    position: absolute;
    top: -12%;
    left: 0;
}
.about .about__card:nth-child(2n) .about__bg {
    width: 580px;
    height: 590px;
    position: absolute;
    right: 2.2%;
    bottom: -13.5%;
}
.about .about__card:nth-child(2n+1) .about__text-wrap {
    flex-basis: 40.2%;
    margin-top: 8.2%;
}
.about .about__card:nth-child(2n) .about__text-wrap {
    flex-basis: 47.2%;
    margin-top: 8.2%;
}
.about__header {
    font-size: 32px;
    line-height: 40px;
}
.about .about__card:nth-child(2n+1) .about__info {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    margin: 6.5% 0 0 0.5%;
}
.about .about__card:nth-child(2n) .about__info {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    margin: 5.5% 0 0 0.5%;
}
.about .about__card:nth-child(2n+1) .about__read {
    font-size: 16px;
    line-height: 150%;
    color: #0063dd;
    margin-top: 7.5%;
    max-width: 165px;
}
.about .about__card:nth-child(2n) .about__read {
    font-size: 16px;
    line-height: 150%;
    color: #0063dd;
    margin-top: 6.5%;
    max-width: 165px;
}
.about__read::after,
.about__read_down::after {
    content: url(assets/icons/read-arrow.svg);
    margin-left: 9%;
}
.about__read:hover,
.about__read_down:hover {
   transform: scale(1.1);
   margin-left: 1%;
}
.down-card {
    margin-top: 17.5%;
}
.about__image {
    margin: -2% 0 0 -27.5%;
}
.works {
    font-weight: 300;
    color: black;
    background: #f5fcfd;
    padding-top: 6.25%;
    padding-bottom: 7%;
}
.works__wrap {
    max-width: 1073px;
    margin: 0 auto;
    text-align: center;
}
.works__name {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}
.works__des {
    font-size: 16px;
    line-height: 150%;
    max-width: 730px;
    margin: 2.3% auto 0 auto;
    position: relative;
    /* border-bottom: 2px dashed #0f7bff; */
}
.works__des::after {
    content: url(assets/icons/works-bg.svg);
    position: absolute;
    bottom: -210%;
    right: -8px;
    z-index: 0;
} 
.works__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1071px;
    margin-top: 4.3%;
    position: relative;
    z-index: 1;
}
.works__card {
    max-width: 296px;
}
.works__image-wrap {
    width: 100px;
    height: 100px;
    border-radius: 50%;    
    background: #dfedff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.works__image {
    object-fit: none;
}
.works__card-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10.3%;
}
.works__card-des {
    font-size: 16px;
    line-height: 150%;
    margin-top: 7%;
}
.price {
    font-weight: 700;
    color: black;
    max-width: 1146px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7% 0 9% 0;
}
.price__plan {
    flex-basis: 31.5%;
    max-height: 256px;
}
.price__premium,
.price__standart {
    flex-basis: 31.5%;
}
.price__header {
    font-size: 32px;
    line-height: 40px;
    margin-top: 6.5%;
}
.price__des {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    margin-top: 8%;
    max-width: 333px;
}
.price__select {
    display: flex;
    justify-content: center;
    margin: 11.4% 8% 0 0;
}
.price__month {
    width: 166px;
    height: 50px;    
    color: #0f7bff;
    background: #fff;
    border: 3px solid #0f7bff;
    box-sizing: border-box;
    border-radius: 25px 0 0 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.price__year {
    width: 163px;
    height: 50px; 
    color: #0f7bff;
    background: #fff;
    border: 3px solid #0f7bff;
    box-sizing: border-box;
    border-radius: 0px 25px 25px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.active-price {
    color: #fff;
    background: #0f7bff;
    box-sizing: border-box;
}
.price__premium,
.price__standart {
    flex-basis: 31.5%;    
    filter: drop-shadow(0px 4px 20px rgba(0, 78, 172, 0.1));
    border-radius: 5px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.price__img {
    width: 86px;
    height: 86px;
    border-radius: 50%;    
    background: #0063dd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14% auto 0 auto;
}
.price__premium:hover .price__img,
.price__standart:hover .price__img {
    box-shadow: 0px 0px 0px 15px rgba(0, 99, 221, 0.15); 
}
.price__name {
    font-size: 18px;
    line-height: 22px;
    margin: 10% auto 0 auto;
    border-bottom: 2px solid #e9f3f8;
    max-width: 303px;
    padding-bottom: 7%;
}
.price__ul {
    margin-top: 6%;
}
.price__li {
    font-weight: 300;
    font-size: 16px;
    line-height: 184%;    
}
.price__price {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;    
    color: #0f7bff;
    margin-top: 7%;    
}
.span {
    font-size: 16px;
}
.price__try {
    width: 166px;
    height: 50px;    
    background: #fff;
    border: 2px solid #0f7bff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #0f7bff;    
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 6%;
    cursor: pointer;
}
.price__try:hover {
    background: #0f7bff;
    color: #fff;
}
.test {
    font-weight: 500;
    color: black; 
    background: #f5fcfd;
    max-height: 31.3vw;
}
.test-wrap {
    max-width: 1920px;
    margin: 0 auto;
    max-height: 31.3vw;
    padding-top: 1%;
    padding-bottom: 4%;
    background: -1% 0 no-repeat url(assets/images/test-bg.png);
}
.test__header {
    max-width: 545px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 5% 0 0 45.5%;
}
.test__slider {
    max-width: 750px;
    margin: 2.2% 0 3% 44.7%;
}
.swiper-container,
.swiper-wrapper {
    margin-bottom: 3%;
}
.slide {
    filter: drop-shadow(0px 4px 20px rgba(0, 70, 156, 0.1));
    max-width: 362px;
    border-radius: 5px;
    position: relative;
}
.slide::after {
    content: url(assets/icons/test-twit.svg);
    position: absolute;
    top: 4%;
    right: 4%;
}
.slide__name {
    font-size: 18px;
    line-height: 22px;
    margin: 11% 0 0 13%;
}
.slide__status {
    font-size: 14px;
    line-height: 17px;
    color: #999;
    margin: 3% 0 0 13%;
}
.slide__text {
    font-size: 15.8px;
    line-height: 20px;
    color: #999;
    margin: 7% 0 11% 13%;
}
.swiper-pagination {
    margin: 6% 0 0 -41%;
    position: relative;
}
.swiper-pagination-bullet {
    margin: 0 5px;
    width: 12px;
    height: 12px;   
    background: #f5fcfd;
    border: 1.6px solid #0063dd;
    box-sizing: border-box;
}
.swiper-pagination-bullet-active {
    width: 38.4px;
    height: 12px;    
    background: #0063dd;
    border-radius: 32px;
    box-sizing: border-box;
}
.news {
    font-weight: 300;
    color: black;
    max-width: 1197px;
    margin: 7% auto 5.5% auto;
}
.news__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}
.news__subheader {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    max-width: 730px;
    margin: 2% auto 0 auto;
}
.news__content {
    display: flex;
    margin: 3.6% auto 0 auto;
    max-width: 1148px;
    max-height: 576px;
    justify-content: space-between;
}
.news__block_large {
    flex-basis: 48%;
}
.news__image {
    border-radius: 5px;
    filter: drop-shadow(0px 4px 20px rgba(0, 70, 156, 0.08));
}
.news__header_large {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #0063dd;
    margin-top: 5%;
}
.news__text_large {
    font-size: 16px;
    line-height: 150%;    
    margin-top: 4.7%;
    max-width: 543px;
}
.news__read {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #0063dd;
    margin-top: 6%;
    max-width: 165px;
    position: relative;
}
.news__read::after {
    content: url(assets/icons/read-arrow.svg);
    top: 4px;
    right: -53px;
    position: absolute;
}
.news__read:hover {
   transform: scale(1.1);
   margin-left: 1%;
}
.news__block_small {
    flex-basis: 48.7%;
}
.news__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.news__image_small{
    align-self: flex-start;
    max-width: 166px;
    border-radius: 5px;
}
.news__header_small {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin: -1% 0 0 8%;
}
.news__info_small {
    font-size: 16px;
    line-height: 150%;
    margin: 6% 0 0 8%;
}
.free {
    padding: 0.1%; 
    font-weight: 700;
    color: black; 
    background: #f5fcfd;
}
.free-wrap {
    max-width: 758px;
    margin: 7% auto 5.9% auto;
    display: flex;
    justify-content: space-between;
}
.free__header {
    font-size: 32px;
    line-height: 40px;
}
.free__info {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    margin-top: 7%;
}
.free__button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    width: 264px;
    height: 50px;
    background: #0f7bff;
    border-radius: 25px;
    margin-top: 3%;
    cursor: pointer;
}
.free__button:hover {
    background: #f5fcfd;
    border: 1.6px solid #0063dd;
    box-sizing: border-box;
    color: #0063dd;
}
.free_button-info {
    position: relative;
    margin-right: 19%;
}
.free_button-info::after {
    content: url(assets/icons/free-arrow.svg);
    position: absolute;
    top: 0;
    right: 9%;
}
.free__button:hover 
.free_button-info::after {
    content: url(assets/icons/free-barrow.svg);
}
.sub {
    font-weight: 700;
    color: #fff; 
    background: #0f7bff;
    padding: 6.2% 0 6.2% 0;
}
.sub-wrap {
    max-width: 560px;
    margin: 0 auto;
}
.sub__header {
    font-size: 36px;
    line-height: 45px;   
    text-align: center; 
}
.sub__form {
    display: flex;
    max-width: 558px;
    margin-top: 5%;
}
.sub__input {
    width: 365px;
    height: 50px;
    background: #0063dd;
    border-radius: 25px 0 0 25px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-left: 5%;
    outline: none;
}
.sub__button {
    width: 166px;
    height: 50px;
    background: #fff;
    border-radius: 0px 25px 25px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #0063dd;
    outline: none;
    cursor: pointer;
}
input::-webkit-input-placeholder { color: #fff; }
input:-ms-input-placeholder { color: #fff; }
input::-moz-input-placeholder { color: #fff; }
input::placeholder { color: #fff; } 
.sub__button:hover {
    color: #fff;
    background: #0063dd;
    border: 1.6px solid #fff;
}
.sub__input:focus {
    background: #fff;
}
.footer {
    font-weight: 300;
    color: #fff; 
    background: #0063dd;
    padding: 2.9% 0 2% 0;
}
.footer-wrap {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.footer__copy {
    margin-left: 19.6vw;
}
.footer__nav {
    display: flex;
    margin: 0 2% 0 11.5%;
}
.footer__nav-item {
    font-size: 16px;
    line-height: 150%;
    color: #fff;   
    margin: 0 1vw; 
}
.footer__social {
    /* padding-left: 5%; */
    display: flex;
    margin-right: 18vw;
}
.footer__item {
    margin: 0 .7vw; 
}
.footer__item:hover,
.footer__nav-item:hover {
   transform: scale(1.1);
}
.footer__arrow {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    top: -80%;
    right: -20%;
}
.footer__arrow:hover {
    box-shadow: 0px 0px 0px 21px rgba(223, 237, 255, 0.35);
}
.footer__image {
    object-fit: none;
}
@media (max-width: 1800px) {
 body {
    max-width: 1800px;
 }
 .head-wrap {
    max-width: 1800px;
    background: center / cover url(assets/images/bg.jpg) no-repeat;
    }
    .about {
        max-width: 1351px;
        max-height: 1309px;
        margin: 4.3% auto 6% auto;
    }
    .works {padding-top: 7%;}
    .price {padding: 7.6% 0 9.6% 0;}
    .test-wrap {
        max-width: 1800px;
        padding-top: 1.5%;
        max-height: 33.3vw;
        background: -6% 0 no-repeat url(assets/images/test-bg.png);
    }
    .test {
        max-height: 33.3vw;
    }
    .news {margin: 7.4% auto 6.1% auto;}
    .sub {padding: 7.2% 0 6.2% 0;}
}


@media (max-width: 1700px) {
    body {
       max-width: 1700px;
    }
    .header__nav-wrap {
        flex-basis: 34vw;
    }
    .feat__wrap {
        max-width: 1700px;
        padding: 1% 0 6.6% 0;
    }
    .card__name {margin-top: 8%;}
    .feat {
        max-height: 37vw;
    }
    .about {margin: 3.3% auto 7% auto;}
    .price {
        padding: 8.6% 0 9.6% 0;
    }
    .test-wrap {
        max-width: 1700px;
        padding-top: 2%;
        max-height: 36vw;
        background: -12% 0 no-repeat url(assets/images/test-bg.png);
    }
    .test {
        max-height: 36vw;
    }
    .free {
        padding: 1.2%;
    }
    .sub {padding: 7.2% 0 7% 0;}
   }

@media (max-width: 1600px) {
    .head-wrap {
        background: 57% 0 / 120% url(assets/images/bg.jpg) no-repeat;
        max-height: 1017px;
    }
    .test-wrap {
        background: -7% 0 no-repeat url(assets/images/test-bg.png);
    }
    .head__device {
        margin: 4.6% auto 0 auto;
    }
    .feat__wrap {
        max-width: 1600px;
        padding: 2.5% 0 8% 0;
    }
    .card__name {
        margin-top: 6%;
    }
    .about {
        margin: 6.3% auto 7% auto;
    }
    .about__bg img {
        width: 38.2vw;
        height: 38.7vw;
    }
    .works {
        padding-top: 7.7%;
    }
    .price {
        padding: 10.8% 0 9.6% 0;
    }
    .test {
        max-height: 38vw;
    }
    .test-wrap {
        max-width: 1600px;
        padding-top: 2%;
        max-height: 38vw;
        background: -19% 0 no-repeat url(assets/images/test-bg.png);
    }
    .test__header {
        margin: 5% 0 0 45%;
    }
    .test__slider {
        margin: 3% 0 3% 43.7%;
    }
    .news {
        margin: 7.8% auto 7% auto;
    }
    .sub {
        padding: 7.2% 0 8% 0;
    }
}

@media (max-width: 1500px) {
    .head-wrap {
        background: center / cover url(assets/images/bg.jpg) no-repeat;
        max-height: 1010px;
    }
    .header__nav-wrap {
        flex-basis: 45vw;
    }
    .feat__wrap {
        padding: 3% 0 8% 0;
    }
    .about {
        margin: 9.3% auto 8% auto;
    }
    .price {
        padding: 10.8% 0 11% 0;
    }
    .test-wrap {
        background: -29% 0 no-repeat url(assets/images/test-bg.png);
    }
    .test__header {
        margin: 6% 0 0 44.5%;
    }
    .test__slider {
        margin: 2.6% 0 3% 43.4%;
    }
    .test {
        max-height: 40.5vw;
    }
    .news {
        margin: 8.8% auto 7% auto;
    }
    .free {
        padding: 2.2%;
    }
    .sub {
        padding: 7.5% 0 8.1% 0;
        max-width: 100%;
    }
    .footer {
        padding: 3.5% 0 2% 0;
    }
    .footer__arrow {
        right: -10%;
    }
}


@media (max-width: 1400px) {
    .head-wrap {
        background: center / cover url(assets/images/bg.jpg) no-repeat;
        max-height: 1030px;
    }
    .header__nav-wrap {
        flex-basis: 45vw;
    }
    .feat {
        max-height: 44vw;
    }
    .feat__wrap {
        padding: 2.5% 0 9% 0;
    }
    .about {
        margin: 4% auto 8% auto;
    }
    .about__bg img {
        width: 43.2vw;
        height: 43.7vw;
    }
    .works {
        padding-top: 8.7%;
        padding-bottom: 10%;
    }
    .price {
        padding: 9% 0 12% 0;
    }
    .test-wrap {
        max-height: 43.5vw;
        background: -41% 0 no-repeat url(assets/images/test-bg.png);
    }
    .test__header {
        margin: 6% 0 0 44.5%;
    }
    .test__slider {
        margin: 2.6% 0 3% 43.4%;
    }
    .test {
        max-height: 43.5vw;
    }
    .news {
        margin: 8.8% auto 7% auto;
    }
    .sub {
        padding: 7% 0 8.4% 0;
    }
    .free {
        padding: 4.2%;
    }
    .footer {
        padding: 3.5% 0 2% 0;
    }
    .footer__arrow {
        right: 5%;
    }
}

@media (max-width: 1200px) {
.head-wrap {
    background: 83% 0 / 160% url(assets/images/bg.jpg) no-repeat;
}
.header__nav-wrap {
    flex-basis: 66%;
}    
.test-wrap {
    background: -40% 0 no-repeat url(assets/images/test-bg.png);
}
.slide {
    max-width: 210px;
}
.test__slider {
    max-width: 750px;
    margin: 2.2% 0 3% 54.7%;
}
.test__header {
    font-size: 26px;
    margin: 5% 0 0 56.5%;
}
.head__device {
    margin: 10.6% auto 0 auto;
}
.footer__arrow {
    top: 10%;
    right: 3%;
}
}

@media (max-width: 1100px) {
    .head-wrap {
        max-height: 940px;
    }
    .header__nav-wrap {
        flex-basis: 66%;
    }    
    .header__a {
        flex-basis: 30%;
    }
    .feat {
        max-height: 57vw;
    }
    .feat__wrap {
        padding: 6.5% 0 12% 0;
    }
    .about {
        margin: 6% 0 14% 0;
    }
    .works {
        padding-top: 10.7%;
        padding-bottom: 12%;
    }
    .price {
        padding: 12.5% .5% 16% .5%;
    }
    .test {
        max-height: 55vw;
    }
    .test-wrap {
        padding: 1% 0 15% 0%;
        background: -127% 0 no-repeat url(assets/images/test-bg.png);
    }
    .slide {
        max-width: 210px;
    }
    .test__slider {
        max-width: 750px;
        margin: 5.2% 0 0 42.7%;
    }
    .test__header {
        margin: 10% 0 0 43.5%;
    }
    .news {
        margin: 11.8% auto 7% auto;
    }
    .free {
        padding: 8.2% 0 4.5% 0;
    }
    .sub {
        padding: 11% 0 10.4% 0;
    }
    .head__device {
        margin: 10.6% auto 0 auto;
    }
    .footer__arrow {
        top: 10%;
        right: 3%;
    }
    }
    

@media (max-width: 1024px) {
    .head-wrap {
        max-height: 940px;
        background: 86% 0 / 188% url(assets/images/bg.jpg) no-repeat;
    }
    .header__nav-wrap {
        flex-basis: 66%;
    }    
    .header__a {
        flex-basis: 30%;
    }
    .feat {
        max-height: 57vw;
    }
    .feat__wrap {
        padding: 6.5% 0 12% 0;
    }
    .about {
        margin: 6% 0 12% 0;
    }
    .about .about__card:nth-child(2n) .about__text-wrap {
        flex-basis: 42.2%;
    }
    .down-card {
        margin-top: 27%;
    }
    .works {
        padding-top: 11.7%;
        padding-bottom: 14%;
    }
    .price {
        padding: 13.5% .5% 19% .5%;
    }
    .test {
        max-height: 60vw;
    }
    .test-wrap {
        padding: 1% 0 16% 0%;
        background: -209% 0 no-repeat url(assets/images/test-bg.png);
    }
    .slide {
        max-width: 210px;
    }
    .test__slider {
        max-width: 750px;
        margin: 5.2% 0 0 42.7%;
    }
    .test__header {
        margin: 10% 0 0 43.5%;
    }
    .swiper-pagination {
        margin: 5% 0 0 -40%;
    }
    .news__image {
        max-width: 500px;
    }
    .news {
        margin: 13.5% auto 15% auto;
    }
    .free {
        padding: 7.2% 0 5% 0;
    }
    .sub {
        padding: 12% 0 12.4% 0;
    }
    .head__device {
        margin: 10.6% auto 0 auto;
    }
    .footer__arrow {
        top: 10%;
        right: 3%;
    }
    }

@media (max-width: 900px) {
    .head-wrap {
        max-height: 904px;
    }
    .footer__arrow,
    .arrow {
        width: 7vw;
        height: 7vw;
    }
    .feat__wrap {
        padding: 6.5% 0 20% 0;
    }
    .about {
        margin: 21% 0 12% 0;
    }
    .works__des::after {
        width: 700px;
        overflow: hidden;
        right: 16px;
    }
    .test__header {
        margin: 10% auto 0 auto;
        max-width: 750px;
        text-align: center;
        background-color:rgba(255, 255, 255, 0.5);
    }
    .test-wrap {
        padding: 1% 0 31% 0%;
        background: 0 0 no-repeat url(assets/images/test-bg.png);
    }
    .news {
        margin: 18.5% auto 16% auto;
    }
    .news__image {
        max-width: 400px;
    }
    .test__slider {
        max-width: 750px;
        margin: 0 auto 0 auto;
        padding-top: 5.5%;
        background-color: rgba(255, 255, 255, 0.5);;
    }
    .slide {
        max-width: 365px;
        background-color: rgba(71, 100, 136, 0.5);
        padding: 1%;
    }
    .slide__status,
    .slide__text {
        color: black;
    }
}


@media (max-width: 768px) {
.header__nav-wrap {
    flex-basis: 159%;
}    
.header__a img {
    max-width: 125px;
}
.head-wrap {
    max-height: 800px;
    background: 87% 0 / 251% url(assets/images/bg.jpg) no-repeat;
}
.head__device {
    max-width: 600px;
}
.head__device img {
    width: 600px;
}
.about__bg img
 {
    width: 400px;
}
.about .about__card:nth-child(2n+1) .about__bg {
    top: -3.3%;
}
.about__image-wrap img {
    width: 300px;
}
.about__image-wrap {
    align-self: flex-end;
}
.about .about__card:nth-child(2n) .about__bg {
    right: 2.2%;
    bottom: -34.5%;
    width: 400px;
}
.works__des::after {
    bottom: -210%;
    right: 95px;
    width: 500px;
    overflow: hidden;
}
.test__header {
    margin: 10% auto 0 auto;
    max-width: 750px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.5);
}
.test {
    max-height: 76vw;
}
.test__slider {
    max-width: 750px;
    margin: 0 auto 0 auto;
    padding-top: 5.5%;
    background-color: rgba(255, 255, 255, 0.5);;
}
.slide {
    max-width: 365px;
    background-color: rgba(71, 100, 136, 0.5);
    padding: 1%;
}
.swiper-pagination {
    margin: 6% 0 0 -32%;
}
.test-wrap {
    background: 36% 0 no-repeat url(assets/images/test-bg.png);
}
.news__block_large {
    max-width: 300px;
}
.news__image{
    width: 350px;
}
.free-wrap {
    max-width: 690px;
}
.footer__arrow {
    width: 50px;
    height: 50px;
    top: -6px;
    right: 0;
}
.footer-wrap {
    max-width: 720px;
}
.footer__nav {
    flex-basis: 30%;
    margin: 0;
}
.footer__social {
    flex-basis: 20%;
}
.footer__copy {
    flex-basis: 30%;
}
}


@media (min-width: 320px) and (max-width: 700px) {
.head {
    max-height: 150vh;
    padding: 1% .5% 0 .5%;
}
.header__a img {
    width: 50%;
}
.price {
    flex-direction: column;
    margin: 0;
    text-align: center;
}
.news__content {
    flex-direction: column;
    padding: 10% 0 220% 0;
}
.about__card {
    flex-direction: column;
}
.head-wrap {
    position: relative;
    max-height: 150vh;
    padding: 1% .5% 20% .5%;
    background: center / cover url(assets/images/bg.jpg) no-repeat;
}
.header {
    display: inline-block;   
}
.feat__wrap {
    padding: 20% 0 120% 0;
}
.header__burger,
.header__close {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
}
.header__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;    
    color: #929292;   
} 
.active-item {
    color: #0f7cff;
}
.header__button {
    margin: 20px 40%;
}
.head_des {
    color: rgb(27, 26, 26);
}
.head__device {
    display: none;
}
.head {
    background: none;
}
.down-card .about__image-wrap img {
    width: 250px;
}
.feat {
    max-height: 1000px;
    max-width: 320px;
    margin: 0 auto;
}
.about {
    margin: 35% auto 20% auto;
    max-width: 350px;
}
.cards {
    flex-direction: column;
}
.arrow {
    left: 43%;
    width: 15vw;
    height: 15vw;
    border: 1px solid white;
}
.about__bg {
   display: none;
}
.about .about__card:nth-child(2n+1) .about__text-wrap {
    margin-top: 21.2%;
    max-width: 300px;
}
.down-card {
    flex-direction: column-reverse;
}
.about .about__card:nth-child(2n) .about__bg img {
    width: 350px;
    height: 590px;
    position: absolute;
    right: 13.2%;
    bottom: 89.5%;
}
.about .about__card:nth-child(2n+1) .about__bg {
    width: 300px;
}
.works__des::after {
    display: none;
}
.news__image {
    max-width: 310px;
}
.works__cards {
    align-items: baseline;
}
.price__plan {
    max-width: 230px;
    margin-bottom: 40px;
}
.test-wrap {
    background: none;
    max-height: 400px;
}
.test__header{
    margin: 0;
    text-align: center;
}
.test__slider {
    margin: 0;
}
.slide {
    max-width: 150px;
}
.slide::after {
    top: 0;  
}
.test {
    max-height: 400px;
}
.news__read:hover {
    transform: scale(1.1);
    margin-left: 3%;
}
.news__block_large {
    max-width: 300px;
    margin: 1% auto 10% auto;
}
.free__header {
    text-align: center;
}
.news {
    max-height: 1440px;
}
.free-wrap {
    flex-direction: column;
}
.sub {
    max-height: 100px;
}
.sub__header {
    font-size: 26px;
}
.footer-wrap {
    flex-direction: column;
    max-height: 150px;
}
.footer__social {
    justify-content: space-around;
    padding: 5%;
    margin: 0;
}
.footer__copy {
    order: 1;
    width: 60%;
}
.footer__arrow {
    top: 85px;
    width: 15vw;
    height: 15vw;
}
.footer__nav-item {
    font-size: 16px;
    line-height: 150%;
    margin: 0 2vw;
    text-decoration: underline;
}
.footer__nav {
    flex-basis: 30%;
    margin: 0 auto;
}
.footer {
    padding: 5.5% 0 5% 0;
}
.none {
    display: none;
}
}